# @prefix python_gitignore
# @description 

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# Virtual Environment
.venv/
venv/
env/

# Secrets
.env
.env.*

# Django
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Distribution / Packaging
dist/
build/
*.egg-info/
*.egg

# Tests / Coverage
.coverage
htmlcov
.tox/
.pytest_cache/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
